<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Classes</a></li>                    
    <li class="active">Reset</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset All Data</h3>
                </div>
                <div class="panel-body">
                    <p>In the case you prefer start the demo with no report and attendance Data,<br/>
                        the button below will reset all, creating new Classes, Students and Lessons.<br/>
                        <br/>
                        Be aware that, because the seed process is made in serie, it will take around <strong>4 seconds to finish</strong><br/>
                        When finished, the app will take you to the main page.<br/>
                        <br/>
                        Have fun! :)</p>
                    <button class="btn btn-primary" ng-click="reset()"><span class="fa fa-erase"></span> Reset All Data</button>
                </div>
            </div>
        </div>
    </div>
</div>