<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a ui-sref="app">Classes</a></li>                    
    <li><a ui-sref="app">{{student.team.name}}</a></li>                    
    <li><a ui-sref="app.team_students({name: student.team.name})">Student List</a></li>                    
    <li class="active">Dashboard</li>
</ul>
<!-- END BREADCRUMB -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Totals {{student.name}}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>.</th>
                                <th>AB</th>
                                <th>LA</th>
                                <th>MA</th>
                                <th>BH</th>
                                <th>SR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subject in student.subjects">
                                <td>{{subject.subject.name}}</td>
                                <td>{{subject.reportSums.AB}}</td>
                                <td>{{subject.reportSums.LA}}</td>
                                <td>{{subject.reportSums.MA}}</td>
                                <td>{{subject.reportSums.BH}}</td>
                                <td>{{subject.reportSums.SR}}</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;"><strong>total</strong></td>
                                <td>{{student.totalSums.AB}}</td>
                                <td>{{student.totalSums.LA}}</td>
                                <td>{{student.totalSums.MA}}</td>
                                <td>{{student.totalSums.BH}}</td>
                                <td>{{student.totalSums.SR}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <!-- START STRIPED TABLE SAMPLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Report list {{student.name}}</h3>
                   <button class="btn btn-default btn-sm pull-right" ng-click="filterFn()"><span class="glyphicon glyphicon-filter"></span></button>
                </div>
                
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr ng-show="showFilter">
                                <th>Hour</th>
                                <th><input class="form-control input-sm" type="text" ng-model="subjectFilter" size="2" placeholder="Subject"></th>
                                <th><input class="form-control input-sm" type="text" ng-model="typeFilter" size="2" placeholder="Type"></th>
                                <th>Description</th>
                            </tr>
                            <tr ng-show="!showFilter">
                                <th>Hour</th>
                                <th>Subject</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in student.reports | orderBy: '-createdAt' | filter: {subject: subjectFilter, type: typeFilter}">
                                <td>{{report.hour}}</td>
                                <td>{{report.subject}}</td>
                                <td>{{report.type}}</td>
                                <td>{{report.description}}</td>
                            </tr>
                        </tbody>
                    </table>                                
                </div>
            </div>
            <!-- END STRIPED TABLE SAMPLE -->
        </div>
    </div>
</div>
    